<nav class="navbar">
    <div class="container-fluid nav_main">
        <div class="logo">
            <span class="material-symbols-outlined">all_inclusive</span>
            <h5>devlinks</h5>
        </div>
        <div class="link_and_profile">
            <div class="link">
                <i class="fa-solid fa-link"></i>
                <p>Links</p>
            </div>
            <div class="profile">
                <i class="fa-regular fa-user"></i>
                <p>Profile Details</p>
            </div>
        </div>
        <div class="preview">
            <p>Preview</p>
        </div>
    </div>
</nav>